# dbt
target/
dbt_packages/
logs/
dbt_modules/

# Airflow / Astronomer
.astro/
airflow_logs/
.airflow_db_initialized
*.db
*.log

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables (if you have them)
.env
profiles.yml
airflow.cfg
webserver_config.py
